body {
    background: #e8eaf1;
    font-size: 18px;
    font-family: sans-serif, Arial, Helvetica;
}

.app {
    width: 900px;
    margin: auto;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

button {
    margin-left: 5px;
}

.markdown__container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

textarea {
    background: #eff1f5;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 22px;
    height: 300px;
}